h1, h2, p {
    text-align: center;
}
body {
    background: rgb(228,202, 168);
    background-image: url(/img/tamara-malaniy-A4zCoa8800U-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}
.teaMenu {
    width: 80%;
    /* background-color: rgb(228,202, 168); */
    background-color: orange;
    margin-left: auto;
    margin-right: auto;
}
.teaFlavor{
    text-align: left;
}