h1, h2, p {
    text-align: center;

}
h1{
    font-size: 40px;
}
h2{
    font-size: 35px;
}
body {
    background: rgb(228,202, 168);
    background-image: url(/img/tamara-malaniy-A4zCoa8800U-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;

}
.established{
    font-style: italic;
}
.teaMenu {
    width: 80%;
    max-width: 500px;
    /* background-color: rgb(228,202, 168); */
    background-color: rgba(228, 202, 168, 0.406);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    
}
.teaItem p{
    /* background-color: red;  */
    display: inline-block;
    font-weight: 400;
}

/* p{
    
    background-color: darkgreen;
} */
.teaFlavor, .teaCollection {
    background-color: blueviolet;
    text-align: left;
    width: 75%;
}
.teaPrice,.collectionPrice{
    background-color: blue;
    text-align: right;
    width: 25%;
}

